/* src/components/Header.css */
.header {
  background: linear-gradient(90deg, rgba(5, 4, 7, 1) 0%, rgba(51, 23, 20, 1) 16%, rgba(255, 78, 42, 1) 37%);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.navbar .logo {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar .nav-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.logo-placeholder {
  width: 100px;
  height: 50px; /* Ajustado */
  display: flex;
  align-items: center;
}

.logo-placeholder img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-menu a {
  color: #f8f7f6;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  cursor: pointer; /* Añadido */
}

.nav-menu a:hover {
  color:rgba(51, 23, 20, 1);
}

/* Estilos para móvil/tablet */
@media (max-width: 768px) {
  .nav-menu ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(90deg, rgba(5, 4, 7, 1) 0%, rgba(51, 23, 20, 1) 10%, rgba(255, 78, 42, 1) 37%);
    width: 200px;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1rem;
  }

  .navbar .logo {
    display: flex;
    align-items: center;
  }

  .navbar .logo .logo-placeholder {
    position: absolute;
    left: 0;
  }

  .nav-menu ul.active {
    display: flex;
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #f8f7f6;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}

/* Ocultar hamburguesa en desktop */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .nav-menu ul {
    display: flex !important;
    position: static;
    width: auto;
    transform: none;
    padding: 0;
  }
}