/* src/components/Footer.css */
.footer {
  background-color: #2a2a2a;
  color: #f8f7f6;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  border-top: 2px solid #ff4e2a;
  gap: 2rem;
}

.footer-logo-placeholder img {
  width: 120px;
  height: auto;
  filter: brightness(1.2);
}

.footer-nav {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-nav a {
  color: #ff4e2a;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer; /* Añadido para cursor de mano */
}

.footer-nav a:hover {
  color: #f8f7f6;
}

.footer-pyro {
  flex: 1 1 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #050407; /* Corregido */
}

.footer-social {
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
}

.footer-social svg {
  color: #ff4e2a;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-social svg:hover {
  transform: scale(1.2);
}

/* Media Query para pantallas grandes */
@media (min-width: 769px) {
  .footer-nav {
    flex-direction: row;
  }
}